<nav>
    <h1 class="name">
        <a href="{{ "/" | relative_url }}">mrhanlon</a>
    </h1>
    <div class="menu icon-menu">
        <ul class="nav-links">
            <li class="text-link">
                <a href="/posts">posts</a>
            </li>
            <li class="text-link">
                <a href="/archives">archives</a>
            </li>
        </ul>
    </div>
    <div class="social-media">
        <a class="fa fa-github" href="https://github.com/mrhanlon"></a>
        <a class="fa fa-bitbucket" href="https://bitbucket.org/mrhanlon"></a>
        <a class="fa fa-linkedin" href="https://linkedin.com/in/mrhanlon"></a>
        <a class="fa fa-twitter" href="https://twitter.com/mattorantimatt"></a>
    </div>
</nav>
