---
import Layout from '../../../layouts/Layout.astro';
import CSS from '../../../styles/DragonBand.module.scss';
---
<Layout title="RRHS Dragon Band">
  <div class={CSS.container}>
    <main class={CSS.main}>
      <h1>RRHS Dragon Band 2024-25</h1>
      <h2>Area D</h2>
      <ul>
        <li><a href="//mrhanlon.com/files/dragon-band/2024-25/RRHS 2024 Area D - Prelims.mp4">Prelims</a></li>
        <li><a href="//mrhanlon.com/files/dragon-band/2024-25/RRHS 2024 Area D - Finals.mp4">Finals</a></li>
      </ul>
    </main>
  </div>
</Layout>
