// Dark Green (#051F20)
// Phthalo Green (#0B2B26)
// Medium Jungle Green (#163832)
// Brunswick Green (#235347)
// Dark Sea Green (#8EB69B)
// Chinese White (#DAF1DE)

$light-theme: 'light-theme';
$dark-theme: 'dark-theme';
$primary-text-color: 'primary-text-color';
$secondary-text-color: 'secondary-text-color';
$link-hover-text-color: 'link-hover-text-color';
$selection-text-color: 'selection-text-color';
$background-color: 'background-color';
$selection-background-color: 'selection-background-color';


$themes: (
        $light-theme: (
                $primary-text-color: #051F20,
                $secondary-text-color: #0B2B26,
                $link-hover-text-color: #235347,
                $selection-text-color: #051F20,
                $background-color: #FFFFFF,
                $selection-background-color: lighten(#8EB69B, 25%),
        ),
        $dark-theme: (
                $primary-text-color: #DAF1DE,
                $secondary-text-color: #8EB69B,
                $link-hover-text-color: #235347,
                $selection-text-color: #0B2B26,
                $background-color: #051F20,
                $selection-background-color: lighten(#8EB69B, 25%),
        ),
);

@mixin themeProperty($theme, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties) {
  @if $additionalPropertiesPositionIsFront {
    #{$property}: unquote($additionalProperties + ' ' + map-get($theme, $color));
  } @else {
    #{$property}: unquote(map-get($theme, $color) + ' ' + $additionalProperties);
  }
}

@mixin theme($property, $color, $additionalPropertiesPositionIsFront: false, $additionalProperties: '') {
  $light: map-get($themes, $light-theme);
  $dark: map-get($themes, $dark-theme);

  @include themeProperty($light, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);

  @media (prefers-color-scheme: dark) {
    @include themeProperty($dark, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);
  }
}