extends ../layouts/base
block head
  title $> whois
block content
  h1
    code $> whois

  p .
    Hi, I'm Matt! I'm a developer living in Austin. I mostly develop web
    applications for scientists to help them be more productive in their science.
    Whether it's data management, point-and-click access to computational resources,
    or the more mundane, I help to make sure scientists and researchers can focus
    more time and effort on their science, and not the technology that has become
    inextricable from large-scale, comuptationally- or data-intensive science.

  h2 Curriculum Vitae

  h3 Current position

  div Manager, Web &amp; Mobile Applications
  div
    em Research Engineer/Scientist Associate IV
  div Texas Advanced Computing Center, The University of Texas at Austin

  h3 Areas of specialization

  ul
    li Web Applications
    li Asynchronous Applications
    li User Interfaces
    li User Experience

  h3 Appointments held

  div
    small.pull-right 2010 &ndash; present
    span Texas Advanced Computing Center, The University of Texas at Austin

  h3 Education

  div
    small.pull-right 2009
    span MS in Computer Science, The University of South Alabama, Mobile, Alabama
  div
    small.pull-right 2003
    span BS in Mathematics, Spring Hill College, Mobile, Alabama

  h3 Grants, honors, &amp; awards

  div
    small.pull-right 2010 &ndash; 2011
    span Outstanding Master’s Thesis - University of South Alabama
  div
    small.pull-right 2008
    span Outstanding Graduate Student - University of South Alabama
  div
    small.pull-right 2008
    span CIS Graduate Fellowship - University of South Alabama
  div
    small.pull-right 2003
    span Presidents Honors in Mathematics - Spring Hill College
  div
    small.pull-right 2003
    span Hutchinson Award, Philosophy - Spring Hill College

  h3 Selected publications &amp; talks

  h4 Journal articles

  div
    small.pull-right 2014
    span M. Hanlon, W. Smith, S. Mock, &#8220;Providing resource information to users of a national computing center&#8221;. [Special issue] <i>Concurrency and Computation: Practice and Experience</i>.

  h4 Conference proceedings

  div
    small.pull-right 2011
    span M. Hanlon, et al., &#8220;Benefits of NoSQL databases for portals &amp; science gateways&#8221;. Proceedings of the TeraGrid Conference: Extreme Digital Discovery.

  div
    small.pull-right 2010
    span M.R. Hanlon, et al., &#8220;My-Plant.org: A phylogenetically structured social network&#8221;. Gateway Computing Environments Workshop (GCE).

  h4 Presentations

  div
    small.pull-right 2013
    span &#8220;Using Liferay as a platform for Computational Science&#8221;. Liferay North American Symposium, San Francisco, USA.

  div
    small.pull-right 2013
    span &#8220;Introduction to Science Gateways Workshop&#8221;. Elizabeth City State University, North Carolina, USA.

  h3 Service to the profession

  h4 Open source software contributions

  ul
    li
      a(href='https://www.npmjs.org/package/commnq') CommnQ
    li
      a(href='https://github.com/Arabidopsis-Information-Portal') Arabidopsis Information Portal
    li
      a(href='https://github.com/iPlantCollaborativeOpenSource') iPlant Collaborative
    li
      a(href='https://github.com/jknack/handlebars.java') Handlebars.java
    li
      a(href='https://github.com/stanlemon/jGrowl') jGrowl
