---
import Layout from '../../layouts/Layout.astro';
import CSS from '../../styles/DragonBand.module.scss';
---
<Layout title="RRHS Dragon Band">
  <div class={CSS.container}>
    <main class={CSS.main}>
      <h1>RRHS Dragon Band</h1>
      <h2>Spring Concert 2024</h2>
      <ul>
        <li><a href="//mrhanlon.com/files/dragon-band/spring-concert-2024/Grease!.MOV">Grease!</a></li>
        <li><a href="//mrhanlon.com/files/dragon-band/spring-concert-2024/Mosswood Lullaby.MOV">Mosswood Lullaby</a></li>
        <li><a href="//mrhanlon.com/files/dragon-band/spring-concert-2024/Epic Gaming Themes.MOV">Epic Gaming Themes</a></li>
      </ul>
    </main>
  </div>
</Layout>
