---
import { Icon } from 'astro-icon/components'

interface Props {
    icon: string;
    href: string;
    title?: string;
    rel?: string;
}

const { href, title, rel, icon } = Astro.props;
---
<style>
    .social {
        font-size: 1.5rem;
    }
</style>
<a href={href} class="social" rel={rel}>
    <Icon name={icon} title={title} />
</a>
